@model IEnumerable<App.ViewModels.ServicoViewModel>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Servicos" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

