@model App.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Detalhe do Cliente - " + Model.Nome;
}

<h4>@ViewData["Title"]</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>


<hr />
<h5>Serviços</h5>
<div>
    <partial name="../Servicos/_ListaServicos" model="@Model.Servicos" />
</div>
